html{
    box-sizing: border-box;
    line-height:125%;
}
*::before,
*::after{
    box-sizing: inherit;
}

nav{
  background-color: #0088ff;
  text-align: center;
}

nav li{
  display: inline;
}

nav a{
  padding: 20px;
  display: inline-block;
  color:white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

nav a:link, 
nav a:visited {
  text-decoration: none;
}

nav a:hover,
nav a:active {
  background-color:#90c4f2; 
  color: #0088ff;
  text-decoration: wavy;
}
h1{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 3rem;
  margin: 6% 0;
  text-align: center;
  text-decoration: underline #f4ae38 2px; 
  text-underline-offset: 10px;   
}
.topimage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
p{
    font-size: 1.25rem;
    text-align: center;
}

footer{
    background-color: #0088ff;
    color:white;
    padding: 20px;
    margin-top: 10px;
    text-align: center;
  }
