html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

h1, h2, h3 {
    color:#bb1b47;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    text-transform: capitalize;
    font-weight: normal;
    letter-spacing: .1rem;
    font-size: 3.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

.site-intro {
font-size: 1.25rem;
}

nav a {
background-color:rgb(175, 53, 75);
color:white;
padding: 1px;
text-decoration: none;
text-transform: uppercase;
}
nav a:visited {
    background-color: black;
    }
nav a:hover {
background-color: rgb(175, 53, 75);
}

nav a:active {
background-color: transparent;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
}


nav li a {
    display: block;
    padding: 8px 16px;
    
}