:root{
    --font-size:1vw;
    --color-blue:#206eb5;
    --color-red:#b63351;
    --color-yellow:#c0b623;
}

html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
    font-size:calc(var(--font-size) + 15px);

}

h1, h2, h3 {
    color:var(--color-blue);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size:calc(var(--font-size) * 6);
    background-image: linear-gradient(90deg,#206eb5,#b63351,#206eb5, #24523f );
    background-clip: text;
    color: transparent;
    text-transform: capitalize;
    font-weight: normal;
    letter-spacing: .1rem;
    font-size: 3.5rem;
}

h2 {
    font-size: calc(var(--font-size)+32px);
}

h3 {
    font-size: 1.5rem;
}

.site-intro {
font-size: 1.25rem;
}

nav a {
background-color:black;
color:white;
padding: 1px;
text-decoration: none;
text-transform: uppercase;
}
nav a:visited {
    background-color: black;
    }
nav a:hover {
background-image: linear-gradient(90deg,#206eb5,#c0b623,#206eb5,#b63351 );
}

nav a:active {
background-color: transparent;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: calc(60% + 30px);
}


nav li a {
    display: block;
    padding: 8px 16px;
    
}
